.img {
    height: 100%;
    left: 50%;
    object-fit: cover;
    object-position: 25% 37px;
    position: absolute;
    transform: scale(115%) translate(-50%);
    width: 100%;
    z-index: -1;
}

* {
    margin: 0;
    padding: 0;
}
.Search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 60px 0 60px;
    
}

.Search-input {
    border: 1px solid #dedfe0;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    box-sizing: border-box;
    background-color: #f0f1f2;
    font-size: 16px;    
    height: 48px;
    width: 100%;
    color: #053361;
    outline: none;
    padding-left: 16px;       
    
}

.Search-btn {
    cursor: pointer;
    width: 4%;
    height: 48px;
    border: none;
    border: 1px solid #dedfe0;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    background-color: #f0f1f2;
    outline: none;
    
}